@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap') layer(base);

@import 'tailwindcss';

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {

  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@layer base {
  body {
    font-family: "Inter", sans-serif;
    scroll-behavior: smooth;
    @apply antialiased;
  }

  body::-webkit-scrollbar,
  body ::-webkit-scrollbar {
    height: 10px;
    width: 10px;
  }

  body::-webkit-scrollbar-track,
  body ::-webkit-scrollbar-track {
    border-radius: 10px;
    box-shadow: none;
  }

  body::-webkit-scrollbar-thumb,
  body ::-webkit-scrollbar-thumb {
    background-color: #DBDBDE;
    border-radius: 10px;
    box-shadow: none;
  }

  body::-webkit-scrollbar-thumb:window-inactive,
  body ::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(66, 66, 66, 0.4);
  }

  input,
  textarea {
    @apply block w-full px-3 py-2 text-sm text-gray-900 rounded-sm focus:outline-hidden border border-gray-300 focus:outline-transparent;
  }

  select {
    @apply w-full pl-4 pr-8 py-2 border appearance-none rounded-sm focus:outline-hidden bg-no-repeat bg-[url('../public/img/dropdown-arrow.png')] border-gray-300;
    background-position: 98%;
    background-size: 24px;
  }

  button {
    @apply inline-block cursor-pointer rounded-md px-4 py-1 w-fit;
  }

  svg {
    @apply w-6 h-6 cursor-pointer
  }
}


@utility df {
  @apply flex gap-2;
  @apply items-center;
}

@utility dfc {
  @apply flex gap-2;
  @apply flex-col;
}

@utility dc {
  @apply flex gap-2;
  @apply items-center;
  @apply justify-center;
}

@utility scroll-y {
  @apply flex-1 overflow-y-auto;
}

@utility no-scroll-bar {
  &::-webkit-scrollbar {
    height: 0;
    width: 0;
  }
}